# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.SimpleInputs.iml
# Datasource local storage ignored files
/../../../../../../../:\source\SimpleInputs\SimpleInputs\.idea\.idea.SimpleInputs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
